{{#each posts as |post| }}
<div class="">
  <div class="">
    <a href="/post/{{post.id}}">
      <h3>{{post.title}}</h3>
    </a>
  </div>
</div>
{{/each}}

<button><a href="./newpost">New Post</a></button>
