<div class="">
    <h3 class="subtile is-3">Create a New Post</h3>

    <div class="field">
        <label class="label" id="post-title"> Title </label>
        <div class="control">
            <input class="input" type="text" placeholder="Title">
        </div>
    </div>

    <div class="field">
        <label class="label" id="content"> Content </label>
        <div class="control">
            <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
    </div>


<script src="/public/js/newpost.js"></script>
