<h2 class="subtile is-3">Sign Up</h2>


<form class="box signup-form">
  <div class="field">
    <label class="label" id="user-signup">Username</label>
    <div class="control">
      <input class="input" type="username" placeholder="username" id="user-signup">
    </div>
  </div>

  <div class="field">
    <label class="label" id="password-signup">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" id="password-signup">
    </div>
  </div>
  <a href="./signup" type="submit" class="button is-primary">Sign up </a>
</form> 

<script src="./js/signup.js"></script>